.choose-items {
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
}
.choose-items-check {
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    background-color: grey;
}
.finish-items{
    text-align: center;
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
}
.finish-items-red{
    text-align: center;
    background-color: rgb(235, 76, 76);
    width: 50px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
.finish-items-green{
    text-align: center;
    background-color: rgb(79, 236, 119);
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
#task-sect{
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Comfortaa', cursive;
    display: flex;
    color: black;
    align-items: center;
    background-color: #202020;
}
.task-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: white;
    border-bottom: 2px solid black;
    border-radius: 15px;
}
.containertop{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    background-color: white;
    z-index: 20px;
}
#container-results{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    background-color: white;
    z-index: 20px;
}
.task-chose{
    margin-top: 20px;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.task-chose > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#description{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}
#description > span {
    font-size: 30px;
}
#description > span > b{
    font-size: 30px;
    width: 100%;
}
#helper{
    height: 100px;
    width: 100%;
background-color: #202020;
}

.tasks{
    width: 80%;
    display: none;
    background-color: white;
    margin-top: 40px;
}
.visible{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 40px;
}
.sklad0-content{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.sklad0-content > span{
    font-size: 30px;
    font-weight: 700;
}
.answers > span{
    font-size: 30px;
    font-weight: 700;
}
.answers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}
.taskstoanswers > span{
    font-size: 30px;
    font-weight: 700;
}
.taskstoanswers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
input{
    height: 30px;
    width: 30px;
}
.radio-style:checked{
    background-color: white;
}
.varity0{
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    height: 100%;
}
th{font-size: 30px;
    font-weight: 500;
    color: black;

}
.varity0 > span > b:first-child {
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.answer-btns{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.answer-btns > button {
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    width: 40%;
    height: 50px;
    font-size: 25px;
    text-align: center;
}
.answer-btns > button:last-child{
    background-color: rgb(235, 76, 76);
}
.answer-btns > button:first-child{
    background-color: rgb(79, 236, 119);
}
.finishtest{
    display: none;
}
.nexttask{
    display: none;
}
.finishtestvis{
    background-color: rgb(235, 76, 76);
    border: 2px solid black;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
.comentar{
    display: none;
}
.comentar1{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.comentar-zag{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.comentar-podzag{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
}
.comentar-main{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
    line-height: 150%;
}
.comentar-answer{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.results{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.marks{
    font-size: 40px;
    margin: 10px;
}
.congrats{
    font-size: 40px;
    margin: 10px;
}
.back{
    font-size: 30px;
    margin: 10px;
}
.none{
    display: none;
}
@media screen and (max-width: 1040px) { 
    .containertop{
        width: 80%;
    }
    .choose-items {
        height: 40px;
        width: 40px;
        font-size: 15px;
    }
    #description > span {
        font-size: 23px;
    }
    #description > span > b{
        font-size: 23px;
        width: 100%;
    }
    .answers > span{
        font-size: 25px;
        font-weight: 700;
    }
    .taskstoanswers > span{
        line-height: 1.3;
        font-size: 23px;
        font-weight: 700;
    }
    .varity0{
        font-size: 20px;
    }
    th{font-size: 25px;
    }
    .varity0 > span > b:first-child {
        font-size: 25px;
    }
    .answer-btns > button {
     font-size: 20px;  
    }
    .finishtestvis{
        font-size: 20px;
    }
    .comentar-zag{
        font-size: 25px;
    }
    .comentar-podzag{
        margin-top: 30px;
        font-size: 23px;
        font-weight: 600;
    }
    .comentar-main{
        margin-top: 30px;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
    }
    .comentar-answer{
        margin-top: 30px;
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 50px;
    }
    .back{
        font-size: 20px;
    }
}
@media screen and (max-width: 740px) {
    .congrats{ font-size: 27px;}
    .marks{ font-size: 27px;}
    .choose-items {
        height: 30px;
        width: 30px;
        font-size: 14px;
        margin: 5px;
    }
    .finish-items{
        height: 30px;
        width: 30px;
        font-size: 14px;
        margin: 5px;
    }
    .finish-items-red{
        height: 30px;
        width: 30px;
        font-size: 14px;
        margin: 5px;
    }
    .finish-items-green{
        height: 30px;
        width: 30px;
        font-size: 14px;
        margin: 5px;
    }
}
@media screen and (max-width: 600px) {
    .congrats{ font-size: 20px;}
    .marks{ font-size: 20px;}
    .choose-items {
        height: 22px;
        width: 22px;
        font-size: 14px;
        margin: 2px;
    }
    .finish-items{
        height: 22px;
        width: 22px;
        font-size: 14px;
        margin: 2px;
    }
    .finish-items-red{
        height: 22px;
        width: 22px;
        font-size: 14px;
        margin: 2px;
    }
    .finish-items-green{
        height: 22px;
        width: 22px;
        font-size: 14px;
        margin: 2px;
    }
    #description{
        padding: 10px;
        height: 100%;
    }
    #description > span{
        text-align: center;
        margin: 10px;
    }
    .sklad0-content{
        height: 100%;
    }
    .answers{
        height: 100%;
        margin: 10px;
    }
    .taskstoanswers{
        height: 100%;
    }
    .varity0{
        height: 100%;
    }
    .varity0 > span {
        margin: 10px;
    }
    .choose-items {
        height: 30px;
        width: 30px;
        font-size: 13px;
    }
    #description > span {
        font-size: 21px;
    }
    #description > span > b{
        font-size: 21px;
        width: 100%;
    }
    .answer-btns > button {
     font-size: 17px;  
    }
    .marks{
        font-size: 30px;
    }
    .congrats{
        font-size: 30px;
    }
    .back{
        font-size: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 460px) {
    .choose-items {
        display: none;
    }
    .finish-items{
        height: 22px;
        width: 22px;
        font-size: 14px;
        margin: 2px;
    }
    .finish-items-red{
        height: 22px;
        width: 22px;
        font-size: 14px;
        margin: 2px;
    }
    .finish-items-green{
        height: 22px;
        width: 22px;
        font-size: 14px;
        margin: 2px;
    }
    .task-chose{
        width: 90%;
    }
    .choose-items {
        height: 30px;
        width: 30px;
        font-size: 13px;
    }
    #description > span {
        text-align: center;
        line-height: 1.5;
        font-size: 17px;
    }
    #description > span > b{
        font-size: 17px;
    }
    .answers > span{
        font-size: 17px;
    }
    .taskstoanswers > span{
        font-size: 20px;
    }
    .varity0{
        font-size: 18px;
    }
    th{font-size: 20px;
    }
    .varity0 > span > b:first-child {
        font-size: 20px;
    }
    .answer-btns > button {
     font-size: 14px;  
    }
    .finishtestvis{
        font-size: 16px;
    }
    .comentar-zag{
        font-size: 18px;
    }
    .comentar-podzag{
        margin-top: 18px;
        font-size: 23px;
    }
    .comentar-main{
        margin-top: 30px;
        font-size: 17px;
        font-weight: 400;
        line-height: 150%;
    }
    .comentar-answer{
        margin-top: 30px;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 50px;
    }
    .back{
        font-size: 20px;
    }
}